<div class="wrapper">
    <header class="sub-pg-header">
        <ul>
            <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li>  
            <li><h4>CKGS Application Center Washington DC</h4></li> 
            <li class="sub-nav-btn">
                <a class="fa-ellipsis-v top-menu"></a>
                <ul class="app-center-list" style="display:none">
                    <li><a href="#">New York</a></li>
                    <li><a href="#">Chicago</a></li>
                    <li><a href="#">Houston</a></li>
                    <li><a href="#">San Francisco</a></li>
                    <li><a href="#">Atlanta</a></li>
                </ul>
            </li>
        </ul> 
    </header>
    
    <!-- MAIN_CONTENT starts -->	
        <div class="main-content">
            <div id="parentHorizontalTab" class="hrz-tabs">
                <ul id="CKGS-Application-Center-tab" class="resp-tabs-list hor_1 owlCarousel">
                    <li class="single-line-txt">Address</li>
                    <li>Hours of Operations</li>
                    <li>Important Information</li>
                    <li>parking Facility</li>
                </ul>
                <div class="resp-tabs-container hor_1">
                    <div>
                        <address>
                            <b>India Passport Application Center</b>
                            <p>Cox and Kings Global Services (Passport Section)<br>
                            1250 23rd St NW,<br>
                            Suite 100-90,<br>
                            Washington, DC 20037, USA</p>
                        </address><br>
                        <address>
                            <b>CKGS Customer Service</b>
                            <p>Please call the following numbers:<br>(213) 213-5019</p>
                        </address>
                        <a class="btn-view-map" ui-sref="ckgs-application-location-map"><i class="fa-map-marker"></i> <span class="uline">View Map</span></a>
                        <hr>
                        <h4 class="txt-upper">Jurisdiction</h4>
                        <b class="sub-ttl">Include States: </b>
                        <ul class="imp-notes type2">
                            <li>Bermuda</li>
                            <li>Maryland</li>
                            <li>Delaware</li>
                            <li>North Carolina</li>
                            <li>District of Columbia</li>
                            <li>Virginia </li>
                            <li>Kentucky</li>
                            <li>West Virginia</li>
                        </ul>
                    </div>
                    <div>
                        <p class="lg-txt">Passport Application Center operates from Monday to Friday (except <a ui-sref="holiday-list" class="uline">Holidays</a>) </p><br>
                        <div class="table-responsive top-bdr">
                            <table class="table no-border col-2">
                                <tr>
                                    <td>Submission by appointments</td>
                                    <td><b>09:00 - 15:30</b></td>
                                </tr>
                                <tr>
                                    <td>Submission by without appointment</td>
                                    <td><b>09:00 - 11:00</b></td>
                                </tr>
                                <tr>
                                    <td>Tatkal Application Submission</td>
                                    <td><b>09:00 - 15:30</b></td>
                                </tr>
                                <tr>
                                    <td>Document collection</td>
                                    <td><b>16:00 - 18:00</b></td>
                                </tr>
                            </table>
                        </div>
                        <p class="red-txt">Applicants should note that the Washington DC center shall only open at <b>9 AM</b>. Applicants will <b>not be allowed</b> inside the building or in the building lobby prior to <b>9 AM</b>. Applicants are requested not to arrive at our application center <b>prior to 9 AM</b> as this is causing a lot of inconvenience to other tenants in the building. </p>
                    </div>
                    <div>
                        <h4 class="blue-txt">Information for Applicants with Disabilities</h4>
                        <ul class="imp-notes">
                            <li>The entrance is clear and unobstructed.</li>
                            <li>A friend / relative can accompany customers with disabilities throughout the application process.</li>
                            <li>There are clear, easy to read signs in English.</li>
                            <li>The building is very well lit inside.</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="blue-txt">Parking Facility</h4>
                        <p>There is metered parking available outside the application centre. Parking outside the application centre is at the owner's risk. A parking garage is located behind our building on 24th Street, the cost for parking is $17.00.</p><br>
                        <div class="responsive-img"><img src="resources/images/parking-map.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- MAIN_CONTENT starts --> 
</div>
<!-- footer starts -->


<!-- footer script starts -->
  <!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->