<div class="wrapper">
	<header class="sub-pg-header"> 
		<ul>
			<li  class="sub-nav-btn"><a ui-sref="ckgs-application-center"><i class="custom-close"></i></a></li> 
			<li class="page-tl"><h4>Map</h4></li>
		</ul> 
	</header>
	<!-- MAIN_CONTENT starts -->
	<div class="main-content">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.7733254706204!2d-77.05267018428387!3d38.90629857956934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7b67686ea65%3A0x11c52696fc93d61!2s1250+23rd+St+NW+%23100%2C+Washington%2C+DC+20037%2C+USA!5e0!3m2!1sen!2sin!4v1461934143781" style="border:0" allowfullscreen></iframe> 
	</div>
	<!-- MAIN_CONTENT starts --> 
</div>
	<!-- footer starts -->
   <!-- footer script starts -->
      <!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->