<nav class="">
	<ul class="nav">
		<li class="nav-track-application-status">
			<a ui-sref="track_application_status">
				<i class="fa-file-text-o"></i> 
				<span>Track Application Status</span>
			</a>
		</li>

		<li class="nav-track-shipping-status">
			<a ui-sref="track-shipping-status">
				<i class="fa-envelope-o"></i>
				<span>Track Shipping Status</span>
			</a>
		</li>

		<li class="nav-feedback">
			<a ui-sref="feedback">
				<i class="fa-comment-o"></i>
				<span>Feedback</span>
			</a>
		</li>

		<li class="nav-complaint">
			<a ui-sref="complaint">
				<i class="fa-edit"></i>
				<span>Complaint</span>
			</a>
		</li>

		<li class="nav-holiday-list">
			<a ui-sref="holiday-list">
				<i class="fa-calendar-o"></i>
				<span>Holiday List</span>
			</a>
		</li>

		<li class="nav-faqs">
			<a ui-sref="faq">
				<i class="fa-question"></i>
				<span>FAQs</span>
			</a>
		</li>

		<li class="nav-ckgs-spplication-centers">
			<a ui-sref="ckgs-application-center">
				<i class="fa-map-marker"></i>
				<span>CKGS Application Centers</span>
			</a>
		</li>

		<li class="nav-terms-conditions">
			<a ui-sref="terms-and-conditions">
				<i class="fa-file-text-o"></i>
				<span>Terms &amp; Conditions</span>
			</a>
		</li>

		<li class="nav-privacy-policy">
			<a ui-sref="privacy-policy">
				<i class="fa-lock"></i>
				<span>Privacy Policy</span>
			</a>
		</li>

		<li class="nav-rate-update-app">
			<a href="#rate-our-app" class="popup-inline">
				<i class="fa-star"></i>
				<span>Rate Our App / Update App</span>
			</a>
		</li>

		<li class="nav-logout">
			<a ui-sref="main">
				<i class="fa-sign-out"></i>
				<span>LOGOUT</span>
			</a>
		</li>
	</ul>
	<div class="add-nav-sec">
		<a href="" class="ckgs-logo"><img src="resources/images/common/retina/ckgs-white-logo.png" alt=""></a>
		<span>v 1.0.0</span>
	</div>
</nav>