<div class="wrapper">
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="passport-status-history"><i class="fa-back"></i></a></li>  
            <li><h4>Passport Status History</h4></li> 
        </ul> 
    </header>
    
    <!-- MAIN_CONTENT starts -->	
    <div class="main-content">			
        <div class="day-nav table-style">
            <a href="#" class="btns prev table-cell"><i class="fa-arrow-circle-left"></i></a>
            <h3 class="table-cell ttl-sec">May 18, 2016 Friday</h3>
            <a href="#" class="btns next disabled table-cell"><i class="fa-arrow-circle-right"></i></a>
        </div>
        
        <div class="status-message-box">
            <div class="separator">
                <span><i class="fa-clock-o"></i> 03:32 pm</span>
            </div>
            <div class="status">
                <span class="circle green-circle">
                    <i class="fa-check"></i>
                </span>
                <h4 class="txt-green">RECEIVED</h4>
            </div>
            <p>We have <span class="txt-green">‘Received’</span> your Passport Application. The contents are <span class="txt-red">‘unverified’</span>. You can expect a notification advising you of the progress of this outcome.</p>
        </div>
    </div>
    <!-- MAIN_CONTENT starts --> 
</div>

<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
  
</footer>

<div class="splash-bg"></div>