<div class="wrapper">
	<!-- Sub Header @ Page level -->
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li>  
            <li><h4>Passport Status History</h4></li> 
        </ul> 
    </header>
      <!-- MAIN_CONTENT starts -->  
    <div class="main-content">
        <ul class="list-none table-style status-history-steps">
            <li>
                <a href="#">
                    <span class="double-custom-icons"><i class="icon-history-steps"></i></span>
                    <span class="txt-red"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="circle-l red-circle">
                        <span class=""><b>May 20</b></span>
                        <span class="">2016</span>
                        <span class="">Fri</span>
                    </span>
                    <span class="txt-red"><i class="fa-check"></i> On Hold</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="circle-l grey-circle">
                        <span class=""><b>May 19</b></span>
                        <span class="">2016</span>
                        <span class="">Thu</span>
                    </span>
                    <span class="txt-green"><i class="fa-check"></i> Application 'Verified'</span>
                </a>
            </li>
            <li>
                <a ui-sref="passport-status-history-received">
                    <span class="circle-l grey-circle">
                        <span class=""><b>May 18</b></span>
                        <span class="">2016</span>
                        <span class="">Wed</span>
                    </span>
                    <span class="txt-green"><i class="fa-check"></i> Application 'Received'</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- MAIN_CONTENT starts --> 
</div>

<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
  
</footer>

<div class="splash-bg"></div>
