<div class="wrapper">
  <!-- Sub Header @ Page level -->
  <header class="sub-pg-header"> 
    <ul>
       <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li> 
       <li class="page-tl"><h4>Privacy Policy</h4></li>
    </ul> 
  </header>
        
  <!-- MAIN_CONTENT starts -->  
  <div class="main-content passport-services-guide">
    <p class="">
      All personal information collected by CKGS for providing the passport application (hereinafter referred to as ‘Services’) is governed by the laws applicable for the time being in force, the policy guidelines and directions of the Government of India, Embassy of India in the USA &amp; use as per the contract with the Embassy of India. This means that you will be informed of the purpose for which your personal information is being collected and how to exercise your right of access to that information.
    </p>
    <p class="">
       This Privacy Policy should be read in conjunction with the <a href="#">Declaration &amp; Undertaking</a>, Disclaimer, the relevant Document Checklist and Forms and the Terms &amp; Conditions. By accepting the Privacy Policy, you expressly consent to our Privacy Policy. 
    </p>
    <p>The website <a target="_blank" href="https://passport.in.ckgs.us"><u>https://passport.in.ckgs.us</u></a> contains the required information in connection with the Services (“Website”). The said Website will be updated, modified or amended as per the instructions of the Embassy / Consulate and/or changes in applicable law or advice of the legal advisors of CKGS from time to time.</p>
  </div>
  <!-- MAIN_CONTENT starts --> 
</div>
    
<!-- Footer :: Starts -->
<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->