<div class="wrapper">
    <!-- Sub Header @ Page level -->
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li> 
            <li class="page-tl"><h4>Passport FAQs</h4></li> 
        </ul> 
    </header>
        
    <!-- MAIN_CONTENT starts -->  
    <div class="main-content">
        <div id="faq-list">
            <ul class="accordion-style faqslist">
                <li>
                    <dl>
                        <dt class=""><span>Passport Services Guide</span></dt>
                        <dd style="display: none;">
                           <ul class="list-none">
                              <li><a href="passport-service-guide.html" class="qsn">How do I apply for a passport in the new system?</a></li>
                              <li><a href="#" class="qsn">What additional documents are required in case the passport has expired for less than 6 months?</a></li>
                              <li><a href="#" class="qsn">What types of passport applications are processed by CKGS?</a></li>
                              <li><a href="#" class="qsn">What types of photographs are required for Passport?</a></li>
                              <li><a href="#" class="qsn">Do I have to have an appointment to submit my application?</a></li>
                           </ul>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt class=""><span>Documentation</span></dt>
                        <dd style="display: none;">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem aIpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </dd>
                    </dl>
                </li> 
                <li>
                    <dl>
                        <dt class=""><span>Tatkal Process</span></dt>
                        <dd style="display: none;">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem aIpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </dd>
                    </dl>
                </li>  
                <li>
                    <dl>
                        <dt class=""><span>Minor</span></dt>
                        <dd style="display: none;">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem aIpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </dd>
                    </dl>
                </li>    
                <li>
                    <dl>
                        <dt class=""><span>Damaged Passport</span></dt>
                        <dd style="display: none;">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem aIpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </dd>
                    </dl>
                </li>    
                <li>
                    <dl>
                        <dt class=""><span>Lost / Stolen Passport</span></dt>
                        <dd style="display: none;">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem aIpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </dd>
                    </dl>
                </li>     
                <li>
                    <dl>
                        <dt class=""><span>Exhaustion of Pages</span></dt>
                        <dd style="display: none;">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem aIpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </dd>
                    </dl>
                </li>     
                <li>
                    <dl>
                        <dt class=""><span>Validity Due to Expire</span></dt>
                        <dd style="display: none;">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem aIpsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </dd>
                    </dl>
                </li>     
            </ul>
        </div>
    </div>
    <!-- MAIN_CONTENT starts --> 
</div>
<!-- footer script starts -->
<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->

<!-- Road block pop up starts -->
<div id="rate-our-app" class="white-popup-block mfp-hide">
    <div class="rate-our-app-img"><img src="resources/images/rate-our-app.jpg" alt=""></div>
    <h4>Rate Our App</h4>
    <p>If you enjoying using CKGS App, would you mind taking a moment to rate it? It won’t take more than a minute. Thanks for your support!</p>
    <a href="#" class="btn">Rate Now</a>
    <a href="#" class="btn gray-btn">Maybe Later</a>
    <a href="#" class="btn gray-btn mfp-close">No Thanks</a>
</div>