<div class="ckgs-mobile-inner">
	<div class="wrapper">
        <header class="sub-pg-header"> 
            <ul>
               <li class="sub-nav-btn">
	               	<a ui-sref="home">
	               		<i class="fa-back"></i>
	               	</a>
               	</li> 
               <li class="page-tl"><h4>Feedback</h4></li>
            </ul> 
         </header>
		<!-- MAIN_CONTENT starts -->	
        <div class="main-content feedback-complaint">
		    <div class="container">
			    <form class="form-group">
				 	<input type="text" class="form-control" value="USAWP8JLO5U16C">
					
					<label class="input-label txt-upper"><strong>Feedback</strong></label>
					<textarea class="form-control" >Enter Feedback here</textarea>
					<div class="button-container">
						<a href="#" class="btn btn-primary btn-gradient txt-upper">SUBMIT</a>
					</div>
				 </form>
            </div>
		</div>
		<!-- MAIN_CONTENT starts --> 
	</div>
</div>

<!-- footer starts -->
<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
	
</footer>
<!-- footer script starts -->

<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->
