<div class="wrapper">
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li>  
            <li><h4>Holiday List 2016 for Embassy & Consulates</h4></li> 
        </ul> 
    </header>
	<!-- MAIN_CONTENT starts -->	
	<div class="main-content holiday-list">
		<div id="parentHorizontalTab" class="hrz-tabs">
			<ul id="holiday-list-tab"  class="resp-tabs-list hor_1 owlCarousel">
				<li>Washington DC</li>
				<li>Chicago</li>
				<li>Houston</li>
				<li>New York</li>
				<li>San Fransisco</li>
				<li>Atlanta</li>
			</ul>
			<div class="resp-tabs-container hor_1">
				<div>
					<div class="table-responsive">
						<table class="table no-border col-2">
							<tr>
								<td><b>Date</b></td>
								<td><b>Day</b></td>
								<td><b>Name</b></td>
							</tr>
							<tr>
								<td>Jul 04</td>
								<td>Mon</td>
								<td>American Independence Day</td>
							</tr>
							<tr>
								<td>Aug 25</td>
								<td>Thu</td>
								<td>Janmashtami</td>
							</tr>
							<tr>
								<td>Sep 12</td>
								<td>Mon</td>
								<td>Idu'l Zuha (Bakrid)</td>
							</tr>
							<tr>
								<td>Oct 02</td>
								<td>Sun</td>
								<td>Mahatma Gandhi's Birthday</td>
							</tr>
							<tr>
								<td>Oct 11</td>
								<td>Tue</td>
								<td>Dussehra</td>
							</tr>
							<tr>
								<td>Oct 30</td>
								<td>Sun</td>
								<td>Diwali (Deepavali)</td>
							</tr>
							<tr>
								<td>Nov 14</td>
								<td>Mon</td>
								<td>Guru Nanak's Birthday</td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<div class="table-responsive">
						<table class="table no-border col-2">
							<tr>
								<td><b>Date</b></td>
								<td><b>Day</b></td>
								<td><b>Name</b></td>
							</tr>
							<tr>
								<td>Aug 15</td>
								<td>Mon</td>
								<td>Indian Independence Day</td>
							</tr>
							<tr>
								<td>Sep 05</td>
								<td>Mon</td>
								<td>Labour Day</td>
							</tr>
							<tr>
								<td>Sep 12</td>
								<td>Mon</td>
								<td>Idu'l Zuha (Bakrid)</td>
							</tr>
							<tr>
								<td>Oct 02</td>
								<td>Sun</td>
								<td>Mahatma Gandhi's Birthday</td>
							</tr>
							<tr>
								<td>Oct 11</td>
								<td>Tue</td>
								<td>Dussehra</td>
							</tr>
							<tr>
								<td>Oct 30</td>
								<td>Sun</td>
								<td>Diwali (Deepavali)</td>
							</tr>
							<tr>
								<td>Nov 14</td>
								<td>Mon</td>
								<td>Guru Nanak's Birthday</td>
							</tr>
							<tr>
								<td>Nov 24</td>
								<td>Thu</td>
								<td>Thanksgiving Day</td>
							</tr>
							<tr>
								<td>Dec 25</td>
								<td>Sun</td>
								<td>Christmas Day</td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<div class="table-responsive">
						<table class="table no-border col-2">
							<tr>
								<td><b>Date</b></td>
								<td><b>Day</b></td>
								<td><b>Name</b></td>
							</tr>
							<tr>
								<td>Aug 15</td>
								<td>Mon</td>
								<td>Indian Independence Day</td>
							</tr>
							<tr>
								<td>Aug 25</td>
								<td>Thu</td>
								<td>Janmashtami</td>
							</tr>
							<tr>
								<td>Sep 05</td>
								<td>Mon</td>
								<td>Labour Day</td>
							</tr>
							<tr>
								<td>Sep 12</td>
								<td>Mon</td>
								<td>Idu'l Zuha (Bakrid)</td>
							</tr>
							<tr>
								<td>Oct 02</td>
								<td>Sun</td>
								<td>Mahatma Gandhi's Birthday</td>
							</tr>
							<tr>
								<td>Oct 11</td>
								<td>Tue</td>
								<td>Dussehra</td>
							</tr>
							<tr>
								<td>Oct 30</td>
								<td>Sun</td>
								<td>Diwali (Deepavali)</td>
							</tr>
							<tr>
								<td>Nov 14</td>
								<td>Mon</td>
								<td>Guru Nanak's Birthday</td>
							</tr>
							<tr>
								<td>Dec 25</td>
								<td>Mon</td>
								<td>Christmas Day</td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<div class="table-responsive">
						<table class="table no-border col-2">
							<tr>
								<td><b>Date</b></td>
								<td><b>Day</b></td>
								<td><b>Name</b></td>
							</tr>
							<tr>
								<td>Aug 15</td>
								<td>Mon</td>
								<td>Indian Independence Day</td>
							</tr>
							<tr>
								<td>Aug 25</td>
								<td>Thu</td>
								<td>Janmashtami</td>
							</tr>
							<tr>
								<td>Sep 05</td>
								<td>Mon</td>
								<td>Labour Day</td>
							</tr>
							<tr>
								<td>Sep 12</td>
								<td>Mon</td>
								<td>Idu'l Zuha (Bakrid)</td>
							</tr>
							<tr>
								<td>Oct 02</td>
								<td>Sun</td>
								<td>Mahatma Gandhi's Birthday</td>
							</tr>
							<tr>
								<td>Oct 11</td>
								<td>Tue</td>
								<td>Dussehra</td>
							</tr>
							<tr>
								<td>Oct 30</td>
								<td>Sun</td>
								<td>Diwali (Deepavali)</td>
							</tr>
							<tr>
								<td>Nov 14</td>
								<td>Mon</td>
								<td>Guru Nanak's Birthday</td>
							</tr>
							<tr>
								<td>Nov 24</td>
								<td>Thu</td>
								<td>Thanksgiving Day</td>
							</tr>
							<tr>
								<td>Dec 13</td>
								<td>Tue</td>
								<td>Milad-Un-Nabi (Prophet Md Birthday)</td>
							</tr>
							<tr>
								<td>Dec 25</td>
								<td>Mon</td>
								<td>Christmas Day</td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<div class="table-responsive">
						<table class="table no-border col-2">
							<tr>
								<td><b>Date</b></td>
								<td><b>Day</b></td>
								<td><b>Name</b></td>
							</tr>
							<tr>
								<td>Aug 15</td>
								<td>Mon</td>
								<td>Indian Independence Day</td>
							</tr>
							<tr>
								<td>Aug 25</td>
								<td>Thu</td>
								<td>Janmashtami</td>
							</tr>
							<tr>
								<td>Sep 05</td>
								<td>Mon</td>
								<td>Labour Day</td>
							</tr>
							<tr>
								<td>Sep 12</td>
								<td>Mon</td>
								<td>Idu'l Zuha (Bakrid)</td>
							</tr>
							<tr>
								<td>Oct 02</td>
								<td>Sun</td>
								<td>Mahatma Gandhi's Birthday</td>
							</tr>
							<tr>
								<td>Oct 11</td>
								<td>Tue</td>
								<td>Dussehra</td>
							</tr>
							<tr>
								<td>Oct 30</td>
								<td>Sun</td>
								<td>Diwali (Deepavali)</td>
							</tr>
							<tr>
								<td>Nov 14</td>
								<td>Mon</td>
								<td>Guru Nanak's Birthday</td>
							</tr>
							<tr>
								<td>Nov 24</td>
								<td>Thu</td>
								<td>Thanksgiving Day</td>
							</tr>
							<tr>
								<td>Dec 13</td>
								<td>Tue</td>
								<td>Milad-Un-Nabi (Prophet Md Birthday)</td>
							</tr>
							<tr>
								<td>Dec 25</td>
								<td>Mon</td>
								<td>Christmas Day</td>
							</tr>
						</table>
					</div>
				</div>
				<div>
					<div class="table-responsive">
						<table class="table no-border col-2">
							<tr>
								<td><b>Date</b></td>
								<td><b>Day</b></td>
								<td><b>Name</b></td>
							</tr>
							<tr>
								<td>Aug 15</td>
								<td>Mon</td>
								<td>Indian Independence Day</td>
							</tr>
							<tr>
								<td>Aug 25</td>
								<td>Thu</td>
								<td>Janmashtami</td>
							</tr>
							<tr>
								<td>Sep 05</td>
								<td>Mon</td>
								<td>Labour Day</td>
							</tr>
							<tr>
								<td>Sep 12</td>
								<td>Mon</td>
								<td>Idu'l Zuha (Bakrid)</td>
							</tr>
							<tr>
								<td>Oct 02</td>
								<td>Sun</td>
								<td>Mahatma Gandhi's Birthday</td>
							</tr>
							<tr>
								<td>Oct 11</td>
								<td>Tue</td>
								<td>Dussehra</td>
							</tr>
							<tr>
								<td>Oct 30</td>
								<td>Sun</td>
								<td>Diwali (Deepavali)</td>
							</tr>
							<tr>
								<td>Nov 14</td>
								<td>Mon</td>
								<td>Guru Nanak's Birthday</td>
							</tr>
							<tr>
								<td>Nov 24</td>
								<td>Thu</td>
								<td>Thanksgiving Day</td>
							</tr>
							<tr>
								<td>Dec 25</td>
								<td>Mon</td>
								<td>Christmas Day</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- MAIN_CONTENT starts --> 
</div>
<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->