<div class="wrapper">
  <!-- Header :: Starts -->
  <header class="master-header" data-ng-include="'views/globalHeader.html'"></header>

  <!-- MAIN CONTENT :: Starts -->
  <div class="main-content">
    <div class="container">
      <div class="dashboard-listing equal-heights">
        <a ui-sref="track_application_status" class="yellow">
          <span class="fa-file-text-o"></span>
          <b>Track Application Status</b>
        </a>

        <a ui-sref="track-shipping-status" class="blue">
          <span class="fa-envelope-o"></span>
          <b>Track Shipping Status</b>
        </a>

        <a ui-sref="ckgs-application-center" class="cadetblue">
          <span class="fa-map-marker"></span>
          <b>Application Centers</b>
        </a>

        <a ui-sref="faq" class="darkgoldenrod">
          <span class="fa-question"></span>
          <b>FAQs</b>
        </a>

        <a ui-sref="feedback" class="green">
          <span class="fa-feedback"></span>
          <b>Feedback</b>
        </a>

        <a ui-sref="complaint" class="pink">
          <span class="fa-edit"></span>
          <b>Complaint</b>
        </a>
      </div>
    </div>
 </div>
 <!-- MAIN CONTENT :: ends -->
</div>

<!-- Footer :: Starts -->
<!-- footer starts -->
  <div class="splash-bg"></div>
<!-- footer ends -->

<!-- Road block pop up starts -->
<div id="rate-our-app" class="white-popup-block mfp-hide">
  <div class="rate-our-app-img"><img src="resources/images/rate-our-app.jpg" alt=""></div>
  <h4>Rate Our App</h4>
  <p>If you enjoying using CKGS App, would you mind taking a moment to rate it? It won’t take more than a minute. Thanks for your support!</p>
  <a href="#" class="btn">Rate Now</a>
  <a href="#" class="btn gray-btn">Maybe Later</a>
  <a href="#" class="btn gray-btn mfp-close">No Thanks</a>
</div>
