<div class="wrapper">
  <!-- Sub Header @ Page level -->
  <header class="sub-pg-header"> 
    <ul>
       <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li> 
       <li class="page-tl"><h4>Terms &amp; Conditions</h4></li>
    </ul> 
  </header>
        
  <!-- MAIN_CONTENT starts -->  
  <div class="main-content passport-services-guide">
      <p class="">
        <strong>Cox and Kings Global Services Private Limited </strong><br/>
        <strong>(“CKGS”)</strong> has been appointed by the Ministry of External Affairs through the Embassy of India, Washington DC (“Mission”) for providing services, to the Indian Embassy and Missions in USA, in respect of passport services applications (“Services”) at the designated exclusive passport service centres namely Indian Passport Application Centres (“IPACs”) at Washington DC, Atlanta, Chicago, Houston, New York and San Francisco
      </p>
      <p class="">
         The following Terms &amp; Conditions constitute the legal basis for the rendering of Services by CKGS. 
      </p>

      <p>The Terms &amp; Conditions govern the Applicant’s use of Website (defined below) as well as the Services and are acknowledged as having been read, understood and agreed without any limitation or qualification by the Applicant through submission of his / her complete physical applications including full payments to the designate CKGS IPACs. These Terms and Conditions constitute your binding contract and obligations towards CKGS for the request and receipt of the Services.</p>
   
  </div>
  <!-- MAIN_CONTENT starts --> 
</div>

 <!-- Footer :: Starts -->
  <!-- footer starts -->
  <div class="splash-bg"></div>
  <!-- footer ends -->