<div class="wrapper">
    <header class="sub-pg-header"> 
        <ul>
            <li class="sub-nav-btn"><a ui-sref="home"><i class="fa-back"></i></a></li>  
            <li class="page-tl"><h4>Track Shipping Status</h4></li> 
        </ul> 
    </header>
    
    <!-- MAIN_CONTENT starts -->  
    <div class="main-content track-shipipng-status">
        <form class="form-group">
        <div id="parentHorizontalTab" class="hrz-tabs-02">
            <ul id="track-shipipng-tab" class="resp-tabs-list hor_2 owlCarousel">
                <li>FEDEX SHIPPING</li>
                <li>OTHER SHIPPING</li>
            </ul> 
            <div class="resp-tabs-container hor_2">      
                <div class="feedback-form">
                    <input type="text" class="form-control" placeholder="Airway Bill Number" />
                    <input type="text" class="form-control" placeholder="Current Indian Passport Number" />
                     <a href="track-shipping-status-received.html" class="btn btn-primary btn-gradient txt-upper">check status</a> 
                </div>
                <div class="feedback-form">
                    <input type="text" class="form-control" placeholder="Airway Bill Number" />
                    <input type="text" class="form-control" placeholder="Current Indian Passport Number" /> 
                    <a href="track-shipping-status-received.html" class="btn btn-primary btn-gradient txt-upper">check status</a>
                </div>
            </div>
        </div>
        </form>
    </div>
  <!-- MAIN_CONTENT starts --> 
</div>

<!-- footer starts -->
<footer class="app-footer" data-ng-include="'views/commonfooter.html'">
  
</footer>
<!-- footer ends -->
<!-- footer script starts -->
<!-- footer starts -->
<div class="splash-bg"></div>
<!-- footer ends -->